.app{
background: #fff;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
font-size: 18px;
margin: 0 0 8px;
padding: 20px 0;
}
.main {
margin: 40px 0;
}

/* prevent header covering body */
body { 
    padding-top: 65px; 
}

html {
 overflow-y: scroll; /* prevents a scrolling jump */
}

.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li:hover {
    border-radius: 14px;
    background-color: #ff0;
    color: green;
}

#showStudents > div.row:nth-of-type(even)
{
    color: #cb05fd;
}

#showStudents > div.row:nth-of-type(odd)
{
    color:  #2e6da4;
}

#showStudents > div.row:hover
{
    color: red;
	background-color : yellow;
}


#editStudent
{
    border: solid 1px black;
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: white;
    z-index: 100;

    height: 300px;
    margin-top: -200px;

    width: 600px;
    margin-left: -300px;
}

#editStudentLayer
{
	 z-index: 50;
	 position: fixed;
	 background-color:   rgba(255, 0, 0, 0.2);
	 left:0;
	 top:0;
	 
	 width: 100%;
	 height: 100%;
}


 /* bootstrap-notify */
 
 /* Start - bootstrap-notify.css */
.notifications {
  position: fixed;
  z-index: 9999;
}

/* Positioning */ 
.notifications.top-right {
  right: 10px;
  top: 25px;
}

.notifications.top-left {
  left: 10px;
  top: 25px;
}

.notifications.bottom-left {
  left: 10px;
  bottom: 25px;
}

.notifications.bottom-right {
  right: 10px;
  bottom: 25px;
}

/* Notification Element */
.notifications > div {
  position: relative;
  margin: 5px 0;
}
/* End - bootstrap-notify.css */
.nrz-layer {
    padding: 15px 15px 15px;
}

/* bootstrap-notify.css */
.notifications {
    filter: alpha(opacity=0.95);
    opacity: 0.95;
}

.notifications > div > span {
    margin-right: 15px;
}

.notifications > div > a.close {
    margin-top: -2px;
}



