<div class="row">
<div class="col-md-10" >
<h1>Home</h1>
 
<h1>mongodb mlabs example</h1>

<p>
 See the Students view for CRUD mongodb interaction.
 <p>
 Always research your technologies to match your long-term needs.<p>
 
 <p>
 <a href="http://www.sarahmei.com/blog/2013/11/11/why-you-should-never-use-mongodb/comment-page-1/">Why You Should Never Use MongoDB</a>
 <p>
 
 In server.js:<br>
// mDB = secrets.mongodb.connectionStr();<br>
// mDB = secrets.mongodb.connectionStrLocalhost();
<br>
Use the appropriate connection 
 
</div>
</div>
 